.icon {
    width: 173px;
    position: relative;
    height: 57px;
    object-fit: cover;
}

.b {
    top: 12px;
    left: 0px;
    line-height: 150%;
    color: #7562e0;
    white-space: nowrap;
    text-decoration: none;
}

.b1 {
    width: fit-content;
    /* position: absolute; */
    margin: 0 !important;
    top: 12px;
    left: 6px;
    line-height: 150%;
    /* display: inline-block; */
    z-index: 0;
    color: #7562e0;
    white-space: nowrap;
}

.wrapper {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    border-radius: 15px;
    border: 1px solid #8976fd;
    box-sizing: border-box;
    width: fit-content;
    height: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;

}

.loginsignup {
    /* position: absolute; */
    top: 0px;
    left: 150px;
    width: fit-content;
    height: 51px;
}

.b2 {
    /* position: absolute; */
    top: 12px;
    left: 0px;
    line-height: 150%;
    display: inline-block;
    text-align: left;
    width: fit-content;
    right: 10px;
    height: 27px;
    color: #7562e0;
    white-space: nowrap;
}

.loginsignupParent {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.groupWrapper {
    /* position: absolute; */
    top: 0px;
    left: 136px;
    width: fit-content;
    height: 51px;
    text-align: center;
}

.group {
    width: 369px;
    position: relative;
    height: 51px;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    text-decoration-line: none;
}

.parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    box-sizing: border-box;
    text-align: left;
    font-size: 18px;
    color: #7562e0;
    font-family: NanumGothic;
}