.board-div {
    background-color: #f9f9f9;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.board-container {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
}

/* 
.board-frame {
    display: flex;
    width: 1920px;
    height: 148px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 100px;
    position: absolute;
    top: 0;
    left: 0;
} */

.board-element {
    position: relative;
    width: 181px;
    height: 65px;
    margin-top: -2.00px;
    margin-bottom: -15.00px;
    margin-left: -4.00px;
    object-fit: cover;
}

.board-group {
    position: relative;
    width: 371px;
    height: 51px;
    margin-bottom: -3.00px;
    margin-right: -2.00px;
}

.board-text-wrapper {
    position: absolute;
    top: 12px;
    left: 0;
    font-family: "NanumGothic-Bold", Helvetica;
    font-weight: 700;
    color: #7562e0;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.board-group-wrapper {
    position: absolute;
    width: 233px;
    height: 51px;
    top: 0;
    left: 136px;
}

.board-group-2 {
    position: relative;
    width: 235px;
    height: 51px;
}

.board-login-signup {
    position: absolute;
    width: 132px;
    height: 51px;
    top: 0;
    left: 101px;
}

.board-div-wrapper {
    position: relative;
    height: 51px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #8976fd;
}

.board-text-wrapper-2 {
    position: absolute;
    width: 120px;
    top: 11px;
    left: 6px;
    font-family: "NanumGothic-Bold", Helvetica;
    font-weight: 700;
    color: #7562e0;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
}

.board-text-wrapper-3 {
    position: absolute;
    width: 66px;
    /* top: 12px;
    left: 0; */
    font-family: "NanumGothic-Bold", Helvetica;
    font-weight: 700;
    color: #7562e0;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.board-frame-2 {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-self: center; */
    gap: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 80%;
}

.board-frame-3 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.board-large-title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "NanumGothic-ExtraBold", Helvetica;
    font-weight: 800;
    color: #242630;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.board-button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: #8976fd;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}

.board-icon-edit {
    position: relative;
    width: 20px;
    height: 20px;
}

.board-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
    text-decoration: none;


}

.board-frame-wrapper {
    position: relative;
    /* width: 1283px; */
    /* height: 574px; */
}

.board-frame-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board-num {
    display: flex;
    width: 10%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 13px;
    position: relative;
}

.board-text-wrapper-4 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "NanumGothic-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
}

.board-category {
    display: flex;
    width: 15%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 132px;
    position: relative;
}

.board-text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.board-title {
    display: flex;
    width: 35%;
    height: 40px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.board-p {
    position: relative;
    /* margin-top: -1.00px; */
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-user {
    display: flex;
    width: 15%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.board-text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-left: -0.50px;
    margin-right: -0.50px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.board-date {
    display: flex;
    width: 10%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 39px;
    position: relative;
}

.board-text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-left: -17.50px;
    margin-right: -17.50px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.board-state {
    display: flex;
    width: 10%;
    height: 26px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px;
    position: relative;
    background-color: #8976fd24;
    border-radius: 10px;
}

.board-state-comment {
    display: flex;
    width: 10%;
    height: 26px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px;
    position: relative;
    border-radius: 10px;
}

.board-text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #6b53ff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.board-text-wrapper-comment {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.board-text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.board-frame-11 {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1%;
    top: 52px;
    left: -1px;
    cursor: pointer;
}

.board-frame-12 {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}

.board-img {
    position: relative;
    width: 14.5px;
    height: 16.5px;
    margin-right: -0.75px;
}

.board-state-2 {
    display: flex;
    width: 10%;
    height: 26px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px;
    position: relative;
    background-color: #ffe49f;
    border-radius: 10px;
}

.board-frame-13 {
    display: flex;
    width: 1283px;
    align-items: center;
    gap: 24px;
    top: 0;
    left: -1px;
    background-color: #8976fd40;
    border-radius: 10px;
}

.board-text-wrapper-10 {
    position: relative;
    width: 75px;
    margin-top: -1.00px;
    font-family: "NanumGothic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

.board-frame-14 {
    display: flex;
    width: 1283px;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 458px;
    left: -1px;
}

.board-frame-15 {
    display: flex;
    width: 1283px;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 516px;
    left: -1px;
}

.board-text-wrapper-11 {
    position: absolute;
    width: 89px;
    top: 1035px;
    left: 916px;
    font-family: "NanumGothic-Bold", Helvetica;
    font-weight: 700;
    color: #7562e0;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-top: 17%;
    padding-bottom: 40px;
    /* align-self: center; */
}

.pagination-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: none;
    background: transparent;
    color: #444;
    cursor: pointer;
    transition: background 0.3s;
}

.pagination-button:hover {
    background: rgba(136, 136, 136, 0.1);
}

.pagination-number {
    display: inline-grid;
    place-items: center;
    min-width: 38px;
    min-height: 38px;
    border: none;
    background: transparent;
    color: #444;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.pagination-number:hover {
    background: rgba(136, 136, 136, 0.1);
}

.pagination-number.active {
    background: #444;
    color: white;
    border-radius: 5px;
}

.pagination-button svg {
    margin-left: 5px;
    margin-right: 5px;
}