/* .history-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-frame {
    display: flex;
    flex-wrap: wrap;
    width: 1750px;
    align-items: flex-start;
    gap: 48px 104px;
    position: relative;
    flex: 0 0 auto;
} */
/* .main-frame {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
} */

/* 화면 크기가 768px 이상일 때 (태블릿, 데스크탑) */
/* @media (min-width: 768px) {
    .main-frame {
        flex-direction: row;
        justify-content: space-around;
    }
} */

.history-index {
    padding-left: 5%;
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.history-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 90%;
    height: 90%;
    position: relative;
    background-color: #f9f9f9;
    justify-self: center;
    align-self: center;
    flex: 1;
}

.history-frame {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* 부모 크기를 따르게 설정 */
    /* ✅ 기본값: 3x3 */
    gap: 48px 3%;
    width: 100%;
    /* height: auto; */
    transition: all 0.3s ease-in-out;
    /* ✅ 부드러운 애니메이션 */
    overflow-y: hidden;
}

/* ✅ 화면이 1024px 이하일 때 2열로 변경 */
@media (max-width: 1024px) {
    .history-frame {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 870px) {
    .history-frame {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}


/* ✅ 클릭 시 한 줄(1x9)로 변경 */
.history-frame.column-view {
    position: relative;
    grid-template-columns: repeat(1, 90%);
    /* ✅ 1열(한 줄) */
    gap: 20px;
    width: 55%;
    top: 0px;
    min-width: 360px;
    height: 100%;
    max-height: 1080px;
    padding-right: 5%;
    /* 원하는 너비 설정 */
    align-items: center;
    /* height: auto; */
    overflow-y: auto;
    /* max-height: 100%; */
    /* ✅ 스크롤 바 숨기기 */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE & Edge */
}

.history-container-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #f9f9f9;
    justify-content: center;
    flex: 1;
}