.main-frame {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    justify-self: center;
    gap: 20px;
}

.main-element {
    position: relative;
    width: 50%;
    height: auto;
}

.main-group {
    position: relative;
    width: 50%;
    height: auto;
}

.main-div {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-FAKE-NEWS-DETECTER {
    position: relative;
    width: 100%;
    margin-top: -1.00px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Tilt Warp", Helvetica;
    font-weight: 400;
    color: #332c5c;
    font-size: 100px;
    letter-spacing: 0;
    line-height: normal;
    z-index: 10;
}

.main-URL {
    position: relative;
    width: 100%;
    font-family: "NanumGothicOTF-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 40px;
}

.main-button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 30%;
    height: 20%;
    background-color: #8976fd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-text-wrapper {

    font-family: "NanumGothic-ExtraBold", Helvetica;
    font-weight: 800;
    color: #f9f9f9;
    font-size: 30%;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.main-img {
    width: 25%;
    height: auto;
    object-fit: cover;
    margin-bottom: -10%;
    margin-left: -10%;
}