.signup-signup-container {
    background: white;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.signup-1);
    z-index: 1;
}

.signup-overlap {
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    display: flex;
    position: relative;
    background-color: #f9f9f9;

}

.signup-signup-title {
    font-family: "Nanum Gothic", Helvetica;
    font-size: 100%;
    font-weight: 700;
    color: #332c5c;
    text-align: center;
    margin-bottom: 30px;
}

.signup-signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.signup-form-group-email {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.signup-form-group-email input {
    width: 70%;
}

.signup-form-group-email button {
    width: 30%;
    border-radius: 10px;
    background-color: #8976fd;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
}

.signup-form-group-code {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.signup-form-group-code input {
    width: 70%;
    text-align: center;
}

.signup-form-group-code button {
    width: 30%;
    border-radius: 10px;
    background-color: #8976fd;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
}

.signup-form-group label {
    font-family: "Nanum Gothic", Helvetica;
    font-size: 14px;
    font-weight: 700;
    color: #332c5c;
}

.signup-form-group input {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-family: "Nanum Gothic", Helvetica;
    font-size: 14px;
}

.signup-form-group input:focus {
    outline: none;
    border-color: #7562e0;
}

.signup-form-group input::placeholder {
    color: #cccccc;
}

.signup-signup-button {
    background-color: #8976fd;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-family: "Nanum Gothic", Helvetica;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.signup-signup-button:hover {
    background-color: #7562e0;
}

.signup-name-inputs {
    display: flex;
    gap: 16px;
}

.signup-name-inputs .signup-form-group {
    flex: 1;
}

.signup-phone-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.signup-country-selector {
    display: flex;
    align-items: center;
}

.signup-country-selector select {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px 0 0 8px;
    /* 좌측 모서리를 둥글게 */
    background-color: #fff;
    font-family: "Nanum Gothic", Helvetica;
    font-size: 14px;
    appearance: none;
    width: 100px;
    /* 국가 선택 박스의 너비 설정 */
}

.signup-country-selector input[type="tel"] {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 0 8px 8px 0;
    /* 우측 모서리를 둥글게 */
    font-family: "Nanum Gothic", Helvetica;
    font-size: 14px;
    flex: 1;
    /* 입력란을 남은 공간에 맞게 확장 */
}

#privacy-policy {
    margin-right: 8px;
}

.signup-form-group label {
    font-family: "Nanum Gothic", Helvetica;
    font-size: 14px;
    color: #332c5c;
}

.signup-form-group input[type="checkbox"] {
    margin-right: 8px;
}

.signup-form-label {
    font-family: "Nanum Gothic", Helvetica;
    font-size: 14px;
    color: #CCCCCC;
}

.signup-group-2 {
    position: absolute;
    width: 738px;
    height: 550px;
    top: 17px;
    left: 984px;
}

.signup-button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 197px;
    height: 59px;
    top: 491px;
    left: 124px;
    background-color: #8976fd;
    border-radius: 15px;
    cursor: pointer;
}

.signup-text-wrapper-2 {
    width: 133px;
    top: 12px;
    left: 41px;
    font-weight: 800;
    color: #f9f9f9;
    font-size: 25px;
    line-height: normal;
    position: absolute;
    font-family: "Nanum Gothic", Helvetica;
    letter-spacing: 0;
    white-space: nowrap;
}

.signup-overlap-group {
    position: absolute;
    width: 734px;
    height: 448px;
    top: 0;
    left: 0;
}

.signup-element {
    position: absolute;
    width: 232px;
    height: 208px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.signup-URL {
    position: absolute;
    width: 100%;
    top: 376px;
    left: 132px;
    font-family: "NanumGothicOTF-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 40px;
}

.signup-FAKE-NEWS-DETECTER {
    position: absolute;
    width: 610px;
    top: 99px;
    left: 124px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Tilt Warp", Helvetica;
    font-weight: 400;
    color: #332c5c;
    font-size: 100px;
    letter-spacing: 0;
    line-height: normal;
}

.signup-img-frame {
    width: 50%;
}

.signup-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.signup-element-2 {}

.signup-element-3 {
    object-fit: cover;
}

.signup-image {}

.signup-image-2 {}

.signup-image-3 {}

.signup-element-4 {}

.signup-text-wrapper-3 {
    width: 89px;
    top: 1017px;
    left: 960px;
    font-weight: 700;
    color: #7562e0;
    font-size: 18px;
    line-height: 27px;
    font-family: "Nanum Gothic", Helvetica;
    letter-spacing: 0;
    white-space: nowrap;
}

.signup-frame {
    width: 132px;
    height: 51px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #8976fd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.signup-text-wrapper-4 {
    font-weight: 700;
    color: #7562e0;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    font-family: "Nanum Gothic", Helvetica;
    letter-spacing: 0;
    white-space: nowrap;
}

.signup-element-5 {
    width: 181px;
    height: 65px;
    top: 63px;
    left: 106px;
    object-fit: cover;
}