.url-group-child {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
}

.url-bg {
    border-radius: 12px;
    background-color: #8976fd;
}

.url-bg1 {
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;
    background-color: #fff;
}

.url-avatar-icon {}

.url-heading {}

.url-subheading {
    font-size: 14px;
    line-height: 150%;
    color: #072125;
}

.url-text-mockup {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-text-mockup1 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-ui-element-4 {
    border-radius: 12px;
    background-color: #f9f9f9;
}

.url-bg2 {
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;
    background-color: #fff;
}

.url-checkmark-icon {}

.url-headline {}

.url-text-mockup2 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-text-mockup3 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-ui-element-3 {
    box-shadow: 0px 2px 40px rgba(189, 189, 189, 0.11);
    border-radius: 12px;
    background-color: #f9f9f9;
}

.url-ui-element-3-wrapper {
    font-size: 24px;
}

.url-bg3 {
    box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
    border-radius: 12px;
    background-color: #fff;
}

.url-fake-button {
    border-radius: 8px;
    background-color: rgba(137, 118, 253, 0.34);
}

.url-checkmark-icon1 {}

.url-checkmark-icon2 {}

.url-checkmark-icon3 {}

.url-text-mockup4 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-text-mockup5 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-text-mockup6 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-text-mockup7 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-text-mockup8 {
    border-radius: 12px;
    background-color: rgba(32, 72, 79, 0.1);
}

.url-subheader {}

.url-heading1 {
    font-size: 24px;
}

.url-ui-element-5 {
    border-radius: 12px;
    background-color: #f9f9f9;
}

.url-bg-parent {}

.url-headline1 {
    font-size: 200%;
    line-height: 120%;
    display: inline-block;
}

@media (max-width: 1600px) {
    .url-headline1 {
        font-size: 200%;
    }
}

@media (max-width: 1300px) {
    .url-headline1 {
        font-size: 200%;
    }
}

/* 태블릿 (1024px 이하) */
@media (max-width: 1024px) {
    .url-headline1 {
        font-size: 200%;
    }
}

.url-div {
    position: relative;
    line-height: 150%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.url-cta {
    border-radius: 0px 8px 8px 0px;
    background-color: #8976fd;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: 16px 10px; */
    width: 25%;
    cursor: pointer;
}

.url-email-text-input {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #8976fd;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    display: flex;
    height: 60px;
}

.url-text-input {
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    /* height: 58px; */
    overflow: hidden;
    padding-left: 10px;
    outline: none;
    border: none;
}

.url-img-frame {
    width: 60%;
}

.url-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.url-descripton {
    line-height: 150%;
    display: inline-block;
}

.url-headline-parent {
    color: #072125;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.url-container {
    width: 100%;
    height: auto;
}

.url-rectangle-parent {
    width: 80%;
    height: auto;
    color: #8976fd;
    font-family: 'Plus Jakarta Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 50px;
    position: relative;
}

.url-b {
    margin: 0 !important;
    line-height: 150%;
    display: inline-block;
    z-index: 0;
}

.url-wrapper {
    border-radius: 15px;
    border: 1px solid #8976fd;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 32px;
}

.url-loginsignup {}

.url-b1 {
    line-height: 150%;
    display: inline-block;
    text-align: left;
}

.url-loginsignup-parent {
    text-align: center;
}

.url-logo-icon {}

.url-icon {
    object-fit: cover;
}

.url-group-item {
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0);
    border: 1px solid #8976fd;
    box-sizing: border-box;
}

.url-group-wrapper {}

.url-logo-parent {}

.url-url-inner {}

.url-b2 {
    line-height: 150%;
    display: inline-block;
}

.url-p {
    margin: 0;
}

.url-url- {
    font-size: 96px;
    display: inline-block;
    font-family: Inter;
    color: #000;
}

.url-url {
    position: relative;
    text-align: left;
    font-size: 18px;
    color: #7562e0;
    font-family: "NanumGothic";
}